@charset "UTF-8";

@media screen and (min-width:553px) and (max-width:679px){
    #pt1 > #pt1cnt > #lamp{
        position: fixed;
        top: -20%;
        left: 80%;
    }
}

@media  screen and (min-width:680px) and (max-width:787px){
    #pt1 > #pt1cnt > #lamp{
        position: fixed;
        top: 85%;
        left: 90%;
    }
}

@media screen and (min-width:788px) and (max-width:922px){
    #pt1 > #pt1cnt > #lamp{
        position: fixed;
        top: 85%;
        left: 90%;
    }
}

@media screen and (min-width:923px){
    #pt1 > #pt1cnt > #lamp{
        position: fixed;
        top: 85%;
        left: 90%;
    }
}